.contenedor {
    background-color: blueviolet;
    height: 200px;
    color: aqua;
}

.interno {
    position: absolute;
    top: 100px;
    width: auto;
    right: 25%;
    left: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

img {
    width: 50%;
    height: 50%;
    opacity: calc(50%);
}

.texto {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    position: relative;
    top: 150px;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
}

p {
    text-align: center;
    position: relative;
    top: 100px;
    margin: 0;
    padding: 0;
}

.texto img {
    width: 30px;
    color: rgb(245, 99, 99);
}

ul {
    list-style-type: none;
    margin-left: 32px;
}


li {
    float: left;
    /* text-align: center; */
    margin: 0 31px;
}